.bg-panda{
    background-color: #fceae8;
}

.bg-categories{
    background-color: #da70d6;
}
.footerText{
    text-align: center;
}
.btn-color{

    background-color: #ec86d6;

}
nav a {
    color: tomato;
}